<html>
    <body>
        <h1>
            Product Project  <%=title%>
            <div class="text-center">
                <form name="signup" action="/auth/signUp" method="post">
                  username: <input name="username" id="username" style="color: black;"/><br/>
                  password: <input type="password" name="password" id="password" style="color: black;"/><br/>
                <input type="submit" value="SIGN UP TODAY" class="btn btn-primary btn-lg"></input>
                </form>
              </div>
        </h1>
        <ul>
            <% data.map((i)=>{
                %><li>
                    <%=i%>
                </li><%
            })
            %>
            <li>
                <li class="nav-item">
                    <a class="nav-link" href="products">products</a>
                  </li>
            </li>
        </ul>
       
    </body>
</html>