<html>
    <body>
        <h1>
            welcome to Products
        </h1>
        <section class="sec_include">
            <div class="container">
      
              <% products.map((product, index)=>{%>
                  <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                    <h3><%=product.name%></h3>
                    <h3><%=product.title%></h3>
                    <p><%=product.description.slice(0,300)%></p>
                    
                      <a href="/products/<%=product._id%>" class="btn-oval">Learn More</a>
      
                  </div>
              <% }) %>
              
            </div>
          </section>
       
    </body>
</html>